<div class="page_content">
    <div class="container">
        <div class="well">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object img-thumbnail" src="images/profile_pic.jpg" width="100px" height="100px" alt="Brents Profile Picture">
                </div>
                <div class="media-body">
                    <h3>Thanks for checking out my application</h3>
                    <p>My name is Brent and I am on the market for further career opportunities.</p>
                </div>
            </div>
            <div class="work-detail">
                <h5>Summary:</h5>
                <ul>
                    <li>Bachelor of Engineering - Electronics</li>
                    <li>Graduate Diploma - Computer Science</li>
                </ul>
                <h5>Skillset:</h5>
                <ul>
                    <li>Languages - C#, C++, C, VBA, VB, HTML, CSS, Javascript, Typescript, Assembly</li>
                    <li>Databases - SQL Server, MySQL, MS Access</li>
                    <li>Operating Systems - Embedded, Real-Time, Windows, Mac, Unix</li>
                    <li>Frameworks - Entity Framework, Angular1, Angular2, Bootstrap, Ionic></>
                    <li>Tools - JIRA, Confluence, TeamCity, Octopus, Git, Bamboo</li>
                </ul>
            </div>
        </div>
        <div class="well">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object img-thumbnail" src="images/super-class.jpg" width="100px" height="100px" alt="Brents Super Class Picture">
                </div>
                <div class="media-body">
                    <h3>Fitness</h3>
                    <p>To do</p>
                </div>
            </div>
            <div class="work-detail">
                <h5>Summary:</h5>
                <ul>
                    <li>Winner - Group Fitness INstructor of the Year - New Zealand Fitness Industry Awards 2011</li>
                    <li>Winner - Group Fitness INstructor of the Year - New Zealand Fitness Industry Awards 2013</li>
                </ul>
                <h5>Skillset:</h5>
                <ul>
                    <li>Certificate in Group Exercise , Netfit</li>
                    <li>Certificate in Fitness Instruction, Netfit</li>
                    <li>Australian Fitness Registered Exercise Consultant level And Group Fitness Instructor</li>
                    <li>Workplace First Aid - Current – Expires 2018</li>
                    <li>Zumba Fitness - Zumba Basic Steps, Zumba Toning, Zumba Aqua, Zumba Sentao, Zumbatomic, Zumba Gold</li>
                </ul>
            </div>
        </div>
    </div>
</div>
